@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes from-right {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes from-right {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes to-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@keyframes to-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
}

@-webkit-keyframes scale-in {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0.8;
  }
  to {
    -webkit-transform: scale(2.8, 2.8);
            transform: scale(2.8, 2.8);
    opacity: 0.1;
  }
}

@keyframes scale-in {
  from {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    opacity: 0.8;
  }
  to {
    -webkit-transform: scale(2.8, 2.8);
            transform: scale(2.8, 2.8);
    opacity: 0.1;
  }
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EuropeExt';
  src: url("../fonts/EuropeExtNormal.woff2") format("woff2"), url("../fonts/EuropeExtNormal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EuropeExt';
  src: url("../fonts/EuropeExtBold.woff2") format("woff2"), url("../fonts/EuropeExtBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Light.woff2") format("woff2"), url("../fonts/Geometria-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

html.ov-hidden, html.with-fancybox {
  overflow: hidden;
}

html.ov-hidden body, html.with-fancybox body {
  overflow: hidden;
}

body {
  margin: 0;
}

a {
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  outline: none !important;
}

img {
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #c8c8c8;
  background: #28282a;
}

.wrapper .inner {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper .text-nowrap {
  white-space: nowrap;
}

.wrapper .text-center {
  text-align: center;
}

.wrapper .main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.ui-button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px 28px;
  font: 700 18px/1.1 "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.06em;
  white-space: nowrap;
  color: #926744;
  background: transparent;
  border: 2px solid #926744;
  border-radius: 0;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

@media (max-width: 1310px) {
  .ui-button {
    padding: 12px 20px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .ui-button {
    padding: 9px 15px;
    font-size: 12px;
  }
}

.ui-button__text {
  position: relative;
}

.ui-button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #926744;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.ui-button:hover {
  color: #fff;
}

.ui-button:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.ui-button:focus {
  outline: none;
}

.ui-button--fill {
  color: #fff;
}

.ui-button--fill::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.ui-button--white {
  color: #000;
  background: #fff;
  border-color: #fff;
}

.ui-button--white::before {
  background: #28282a;
}

.ui-button--link {
  padding: 3px 0;
  font: inherit;
  text-transform: inherit;
  letter-spacing: 0;
  white-space: unset;
  color: inherit;
  border: 0;
}

.ui-button--link::before {
  top: unset;
  right: unset;
  left: 50%;
  width: 100%;
  height: 1px;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
}

.ui-button--link:hover {
  color: #926744;
}

.ui-button--link:hover::before {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

.ui-h2 {
  margin: 0;
  font: 700 45px/1.1 "EuropeExt", "Arial", sans-serif;
  text-transform: uppercase;
}

@media (max-width: 1310px) {
  .ui-h2 {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .ui-h2 {
    font-size: 17px;
  }
}

.ui-h2--section {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .ui-h2--section {
    margin-bottom: 20px;
  }
}

.ui-input {
  position: relative;
  font: 16px/1.1 "EuropeExt", "Arial", sans-serif;
}

@media (max-width: 1310px) {
  .ui-input {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .ui-input {
    font-size: 10px;
  }
}

.ui-input input {
  width: 100%;
  padding: 0 0 10px;
  font: inherit;
  color: #fff;
  background: transparent;
  border: 1px solid #ddd;
  border-width: 0 0 1px;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
}

.ui-input input:focus {
  outline: none;
}

.ui-input input:focus ~ label, .ui-input input.filled ~ label {
  opacity: 0;
}

.ui-input input.error {
  border-color: #e70909;
}

.ui-input input.error ~ label {
  color: #e70909;
}

.ui-input input.error ~ .ui-input__error {
  display: block;
}

.ui-input label {
  position: absolute;
  top: 0;
  left: 0;
  font: inherit;
  text-transform: uppercase;
  pointer-events: none;
}

.ui-input__error {
  position: absolute;
  bottom: 22px;
  left: 28%;
  display: none;
  padding: 7px 14px;
  font: 14px/1 "EuropeExt", "Arial", sans-serif;
  color: #e70909;
  background: #28282a;
  border: 1px solid #e70909;
  -webkit-animation: fade-in 0.3s;
          animation: fade-in 0.3s;
}

@media (max-width: 1310px) {
  .ui-input__error {
    bottom: 18px;
    left: 20%;
  }
}

@media (max-width: 767px) {
  .ui-input__error {
    bottom: 12px;
    padding: 5px 8px;
    font-size: 12px;
  }
}

.ui-input__error::before {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 22%;
  width: 10px;
  height: 10px;
  background: inherit;
  border: 1px solid #e70909;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 767px) {
  .ui-input__error::before {
    bottom: -4px;
    width: 6px;
    height: 6px;
  }
}

.ui-input--border input {
  padding: 11px 10px;
  border-width: 1px;
}

@media (max-width: 767px) {
  .ui-input--border input {
    padding: 7px 10px;
  }
}

.ui-input--border label {
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ui-link {
  text-decoration: none;
  color: inherit;
}

.ui-link:hover {
  color: #926744;
}

.ui-select {
  position: relative;
  width: 100%;
}

.ui-select .select2-container {
  display: block;
}

.ui-select .select2-container .select2-selection {
  height: 30px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
}

@media (max-width: 767px) {
  .ui-select .select2-container .select2-selection {
    height: 24px;
  }
}

.ui-select .select2-container .select2-selection__rendered {
  padding: 0 40px 0 0;
  font: 16px/1.1 "EuropeExt", "Arial", sans-serif;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #ddd;
}

@media (max-width: 1310px) {
  .ui-select .select2-container .select2-selection__rendered {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .ui-select .select2-container .select2-selection__rendered {
    padding-right: 20px;
    font-size: 10px;
  }
}

.ui-select .select2-container .select2-selection__arrow {
  top: 0;
  right: 0;
  width: 22px;
  height: 9px;
}

@media (max-width: 767px) {
  .ui-select .select2-container .select2-selection__arrow {
    width: 16px;
    height: 8px;
  }
}

.ui-select .select2-container .select2-selection__arrow b {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='9' viewBox='0 0 22 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 9L21.3923 0H0.607696L11 9Z' fill='%23DDDDDD'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  image-rendering: -webkit-optimize-contrast;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ui-select .select2-container .select2-dropdown {
  color: #e8e8e8;
  background: #494949;
  border: none;
  border-radius: 0;
}

.ui-select .select2-container .select2-dropdown--below {
  top: 5px;
}

.ui-select .select2-container .select2-dropdown--above {
  top: -5px;
}

.ui-select .select2-container .select2-results__options {
  max-height: 300px;
  padding: 10px 0;
}

.ui-select .select2-container .select2-results__option {
  padding: 5px;
  font: 16px/1.1 "EuropeExt", "Arial", sans-serif;
}

@media (max-width: 1310px) {
  .ui-select .select2-container .select2-results__option {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .ui-select .select2-container .select2-results__option {
    font-size: 10px;
  }
}

.ui-select .select2-container .select2-results__option--highlighted, .ui-select .select2-container .select2-results__option--selected {
  background-color: transparent;
  color: #fff;
}

.ui-select .select2-container.select2-container--open .select2-selection__arrow b {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ui-swiper-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ui-swiper-buttons .swiper-button-prev, .ui-swiper-buttons .swiper-button-next {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 38px;
  height: 38px;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
}

@media (max-width: 1310px) {
  .ui-swiper-buttons .swiper-button-prev, .ui-swiper-buttons .swiper-button-next {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 767px) {
  .ui-swiper-buttons .swiper-button-prev, .ui-swiper-buttons .swiper-button-next {
    width: 22px;
    height: 22px;
  }
}

.ui-swiper-buttons .swiper-button-prev::after, .ui-swiper-buttons .swiper-button-next::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: inherit;
  image-rendering: -webkit-optimize-contrast;
  -webkit-filter: brightness(0) invert(0.8);
          filter: brightness(0) invert(0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ui-swiper-buttons .swiper-button-prev:hover::after, .ui-swiper-buttons .swiper-button-next:hover::after {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.ui-swiper-buttons .swiper-button-prev {
  margin-right: 60px;
}

@media (max-width: 1310px) {
  .ui-swiper-buttons .swiper-button-prev {
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .ui-swiper-buttons .swiper-button-prev {
    margin-right: 15px;
  }
}

.ui-swiper-buttons .swiper-button-prev::after {
  background-image: url("data:image/svg+xml,%3Csvg width='41' height='39' viewBox='0 0 41 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4379 5.78571L2.00016 19.2235M2.00016 19.2235L15.6246 32.8479M2.00016 19.2235L40.4471 19.2235' stroke='%23926744' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.ui-swiper-buttons .swiper-button-next::after {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='39' viewBox='0 0 40 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.1647 5.7857L38.4463 19.2235M38.4463 19.2235L24.9803 32.8479M38.4463 19.2235L0.44629 19.2235' stroke='%23926744' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.ui-swiper-scrollbar .swiper-scrollbar {
  height: 1px;
  margin: 2px 0;
  background: #878787;
  border-radius: 0;
}

.ui-swiper-scrollbar .swiper-scrollbar-drag {
  position: absolute;
  top: -2px;
  height: 5px;
  background: #926744;
  border-radius: 0;
}

.ui-textarea {
  position: relative;
}

.ui-textarea textarea {
  width: 100%;
  padding: 10px;
  font: 16px/1.1 "EuropeExt", "Arial", sans-serif;
  color: #fff;
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 0;
  outline: 0;
  resize: vertical;
  -webkit-appearance: none;
}

@media (max-width: 1310px) {
  .ui-textarea textarea {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .ui-textarea textarea {
    padding: 10px 5px;
    font-size: 10px;
  }
}

.ui-textarea textarea::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #fff;
}

.ui-textarea textarea:-ms-input-placeholder {
  text-transform: uppercase;
  color: #fff;
}

.ui-textarea textarea::-ms-input-placeholder {
  text-transform: uppercase;
  color: #fff;
}

.ui-textarea textarea::placeholder {
  text-transform: uppercase;
  color: #fff;
}

.ui-textarea textarea:focus {
  outline: none;
}

.about-company {
  padding: 110px 0;
  background: url("../img/about_company_bg.jpg") no-repeat center;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
}

@media (max-width: 1310px) {
  .about-company {
    padding: 80px 0;
  }
}

@media (max-width: 767px) {
  .about-company {
    padding: 50px 0;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .about-company__inner {
    position: relative;
  }
}

.about-company__wrapper {
  position: relative;
  width: 566px;
  padding: 45px 80px 50px 50px;
  background: #28282a;
  border-radius: 10px;
  overflow: hidden;
}

@media (max-width: 1310px) {
  .about-company__wrapper {
    width: 440px;
    padding: 35px;
  }
}

@media (max-width: 767px) {
  .about-company__wrapper {
    position: unset;
    width: 280px;
    padding: 20px 15px;
    overflow: visible;
  }
}

.about-company__content {
  position: relative;
  z-index: 1;
}

.about-company__ui-h2 {
  margin-bottom: 10px;
}

.about-company__text {
  margin-bottom: 30px;
  font: 20px/1.1 "Gilroy", "Arial", sans-serif;
  color: #e8e8e8;
}

@media (max-width: 1310px) {
  .about-company__text {
    margin-bottom: 20px;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .about-company__text {
    margin-bottom: 10px;
    font-size: 12px;
  }
}

.about-company__new {
  max-width: 290px;
  letter-spacing: -0.015em;
  color: #926744;
}

@media (max-width: 767px) {
  .about-company__new {
    max-width: 210px;
  }
}

.about-company__subtitle {
  margin-bottom: 10px;
  font: 600 20px/1.3 "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
}

@media (max-width: 1310px) {
  .about-company__subtitle {
    margin-bottom: 6px;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .about-company__subtitle {
    margin-bottom: 2px;
    font-size: 12px;
  }
}

.about-company__descr {
  font: 18px/1 "Gilroy", "Arial", sans-serif;
}

@media (max-width: 1310px) {
  .about-company__descr {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .about-company__descr {
    font-size: 12px;
  }
}

.about-company__img {
  position: absolute;
  right: 0;
  bottom: -35px;
  width: 280px;
}

@media (max-width: 1310px) {
  .about-company__img {
    width: 185px;
  }
}

@media (max-width: 767px) {
  .about-company__img {
    right: -5px;
    bottom: -12px;
    width: 110px;
  }
}

.advantage {
  position: relative;
  padding: 100px 0 80px;
  background: url("../img/advantage_bg.jpg") no-repeat center;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
}

@media (max-width: 1310px) {
  .advantage {
    padding: 70px 0 60px;
  }
}

@media (max-width: 767px) {
  .advantage {
    padding: 40px 0;
  }
}

.advantage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.57)), to(rgba(0, 0, 0, 0.57)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
}

.advantage__container {
  position: relative;
  z-index: 1;
}

.advantage__head {
  margin-bottom: 40px;
  text-align: center;
}

@media (max-width: 1310px) {
  .advantage__head {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .advantage__head {
    margin-bottom: 15px;
  }
}

.advantage__ui-h2 {
  margin-bottom: 30px;
}

@media (max-width: 1310px) {
  .advantage__ui-h2 {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .advantage__ui-h2 {
    margin-bottom: 15px;
  }
}

.advantage__descr {
  max-width: 905px;
  margin: 0 auto;
  font: 500 22px/1.2 "Gilroy", "Arial", sans-serif;
  color: #e8e8e8;
}

@media (max-width: 1310px) {
  .advantage__descr {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .advantage__descr {
    font-size: 12px;
  }
}

.advantage__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 55px;
  margin-bottom: 40px;
}

@media (max-width: 1310px) {
  .advantage__wrapper {
    gap: 30px;
  }
}

@media (max-width: 767px) {
  .advantage__wrapper {
    gap: 14px;
    margin-bottom: 15px;
  }
}

.advantage__item {
  position: relative;
  padding: 5px 15px;
  text-align: center;
  color: #926744;
}

@media (max-width: 767px) {
  .advantage__item {
    padding: 5px;
    text-align: left;
  }
}

.advantage__item::before, .advantage__item::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 12px;
  border: 4px solid #926744;
}

@media (max-width: 767px) {
  .advantage__item::before, .advantage__item::after {
    border-width: 2px;
  }
}

.advantage__item::before {
  left: 0;
  border-right: 0;
}

.advantage__item::after {
  right: 0;
  border-left: 0;
}

.advantage__item-count {
  margin-bottom: 10px;
  font: 20px/1.1 "EuropeExt", "Arial", sans-serif;
}

@media (max-width: 1310px) {
  .advantage__item-count {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .advantage__item-count {
    margin-bottom: 2px;
    font-size: 13px;
  }
}

.advantage__item-title {
  font: 700 30px/1.1 "EuropeExt", "Arial", sans-serif;
  text-transform: uppercase;
}

@media (max-width: 1310px) {
  .advantage__item-title {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .advantage__item-title {
    font-size: 12px;
  }
}

.advantage-form {
  text-align: center;
}

.advantage-form__title {
  margin-bottom: 20px;
  font: 20px/1.1 "EuropeExt", "Arial", sans-serif;
  color: #e8e8e8;
}

@media (max-width: 1310px) {
  .advantage-form__title {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .advantage-form__title {
    margin-bottom: 15px;
    font-size: 12px;
  }
}

.advantage-form__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  gap: 12px;
  max-width: 455px;
  margin: 0 auto 10px;
}

@media (max-width: 767px) {
  .advantage-form__main {
    gap: 6px;
    margin-bottom: 5px;
  }
}

.advantage-form__agree {
  font: 500 12px/1.1 "Gilroy", "Arial", sans-serif;
  color: #787878;
}

@media (max-width: 767px) {
  .advantage-form__agree {
    font-size: 9px;
  }
}

.advantage-form__ui-button {
  padding: 10px 32px;
  font-size: 14px;
}

@media (max-width: 767px) {
  .advantage-form__ui-button {
    padding: 7px 20px;
    font-size: 9px;
  }
}

.banner {
  position: relative;
  padding: 260px 0 520px;
}

@media (max-width: 1310px) {
  .banner {
    padding: 180px 0 380px;
  }
}

@media (max-width: 767px) {
  .banner {
    padding: 115px 0 30px;
  }
}

.banner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 45px;
}

@media (max-width: 1310px) {
  .banner__wrapper {
    display: block;
  }
}

.banner__text {
  max-width: 910px;
}

@media (max-width: 767px) {
  .banner__text {
    margin-bottom: 40px;
  }
}

.banner__h1 {
  margin-bottom: 30px;
  font: 700 55px/1.1 "EuropeExt", "Arial", sans-serif;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 1310px) {
  .banner__h1 {
    margin-bottom: 20px;
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  .banner__h1 {
    margin-bottom: 10px;
    font-size: 17px;
  }
}

.banner__descr {
  max-width: 400px;
  font: 20px/1.1 "Gilroy", "Arial", sans-serif;
}

@media (max-width: 1310px) {
  .banner__descr {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .banner__descr {
    max-width: 240px;
    font-size: 12px;
  }
}

.banner__ui-button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 30px;
  padding: 22px 56px;
  font-size: 18px;
  border-width: 4px;
}

@media (max-width: 1310px) {
  .banner__ui-button {
    padding: 18px 40px;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .banner__ui-button {
    width: 100%;
    margin-top: 40px;
    padding: 14px 20px;
    font-size: 12px;
    border-width: 2px;
  }
}

.banner__img {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 464px;
}

@media (max-width: 1310px) {
  .banner__img {
    height: 320px;
  }
}

@media (max-width: 767px) {
  .banner__img {
    position: relative;
    height: 215px;
    margin-right: -15px;
    margin-left: -15px;
  }
}

.banner__img img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: unset;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner__parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip: rect(0, auto, auto, 0);
}

.clients .swiper {
  max-width: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

@media (max-width: 1310px) {
  .clients .swiper {
    overflow: visible;
  }
}

.clients__ui-swiper-scrollbar {
  margin-top: 12px;
}

.clients__item {
  width: 300px;
  height: auto;
  padding: 14px 10px 10px;
  text-align: center;
  color: #e8e8e8;
  border: 1px solid #878787;
  border-radius: 5px;
}

@media (max-width: 1310px) {
  .clients__item {
    width: 240px;
  }
}

@media (max-width: 767px) {
  .clients__item {
    width: 134px;
    padding: 10px;
  }
}

.clients__icon {
  width: 172px;
  margin: 0 auto 10px;
}

@media (max-width: 1310px) {
  .clients__icon {
    width: 115px;
  }
}

@media (max-width: 767px) {
  .clients__icon {
    width: 70px;
  }
}

.clients__name {
  font: 18px/1.1 "EuropeExt", "Arial", sans-serif;
}

@media (max-width: 1310px) {
  .clients__name {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .clients__name {
    font-size: 8px;
  }
}

.contacts {
  position: relative;
  padding: 80px 0;
}

@media (max-width: 1310px) {
  .contacts {
    padding-top: 60px;
  }
}

@media (max-width: 767px) {
  .contacts {
    padding: 0;
  }
}

.contacts__head {
  display: none;
}

@media (max-width: 767px) {
  .contacts__head {
    display: block;
    margin-bottom: 10px;
  }
}

.contacts__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contacts__map [class*='ymaps-2'] [class*='-ground-pane'] {
  -webkit-filter: invert(1) grayscale(100%);
          filter: invert(1) grayscale(100%);
}

.contacts__map [class*='ymaps-2'] [class*='-copyright_logo_no'] {
  top: -35px;
}

@media (max-width: 767px) {
  .contacts__map {
    position: static;
    height: 220px;
  }
}

.contacts__wrapper {
  position: relative;
  width: 450px;
  padding: 40px 50px;
  background: #28282a;
  border-radius: 10px;
}

@media (max-width: 1310px) {
  .contacts__wrapper {
    width: 380px;
    padding: 35px;
  }
}

@media (max-width: 767px) {
  .contacts__wrapper {
    width: auto;
    padding: 15px 0 30px;
  }
}

.contacts__title {
  margin-bottom: 18px;
}

@media (max-width: 767px) {
  .contacts__title {
    display: none;
  }
}

.contacts__info {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .contacts__info {
    margin-bottom: 0;
  }
}

.contacts__info-item:not(:last-child) {
  margin-bottom: 15px;
}

.contacts__info-title {
  margin-bottom: 5px;
  font: 16px/1.1 "EuropeExt", "Arial", sans-serif;
  color: #686868;
}

@media (max-width: 1310px) {
  .contacts__info-title {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .contacts__info-title {
    font-size: 11px;
  }
}

.contacts__info-text {
  font: 500 18px/1 "Gilroy", "Arial", sans-serif;
}

@media (max-width: 1310px) {
  .contacts__info-text {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .contacts__info-text {
    max-width: 230px;
    font-size: 13px;
  }
}

.contacts__info-text p:not(:last-child) {
  margin-bottom: 5px;
}

.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

@media (max-width: 767px) {
  .contacts__social {
    position: absolute;
    top: 18px;
    right: 0;
  }
}

.contacts__social-item {
  display: block;
  width: 36px;
  height: 36px;
}

@media (max-width: 1310px) {
  .contacts__social-item {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 767px) {
  .contacts__social-item {
    width: 26px;
    height: 26px;
  }
}

.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

@media (max-width: 1310px) {
  .delivery {
    display: block;
  }
}

.delivery__content {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 430px;
}

@media (max-width: 767px) {
  .delivery__content {
    width: auto;
  }
}

.delivery__ui-h2 {
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .delivery__ui-h2 {
    margin-bottom: 10px;
  }
}

.delivery__descr {
  font: 20px/1.1 "Gilroy", "Arial", sans-serif;
  color: #e8e8e8;
}

@media (max-width: 1310px) {
  .delivery__descr {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .delivery__descr {
    font-size: 12px;
  }
}

.delivery__map {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

@media (max-width: 1310px) {
  .delivery__map {
    max-width: 640px;
    margin-top: -10px;
    margin-left: auto;
  }
}

.delivery__anim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.delivery__anim svg {
  width: 100%;
  height: 100%;
}

.delivery__circle {
  opacity: 0;
  -webkit-animation: scale-in 4s infinite ease-in-out -2s;
          animation: scale-in 4s infinite ease-in-out -2s;
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.delivery__circle--delay {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.discuss {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 46% 49%;
      grid-template-columns: 46% 49%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1310px) {
  .discuss {
    -ms-grid-columns: 38% 58%;
        grid-template-columns: 38% 58%;
  }
}

@media (max-width: 767px) {
  .discuss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
  }
}

.discuss__descr {
  margin-bottom: 55px;
  font: 20px/1.1 "Gilroy", "Arial", sans-serif;
  color: #e8e8e8;
}

@media (max-width: 1310px) {
  .discuss__descr {
    margin-bottom: 30px;
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .discuss__descr {
    margin-bottom: 0;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .discuss__img {
    display: none;
  }
}

.discuss__form-line:not(:first-child) {
  margin-top: 40px;
}

@media (max-width: 1310px) {
  .discuss__form-line:not(:first-child) {
    margin-top: 25px;
  }
}

.discuss__form-agree {
  margin-top: 5px;
  font: 500 14px/1.1 "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: #787878;
}

@media (max-width: 767px) {
  .discuss__form-agree {
    font-size: 9px;
  }
}

.discuss__ui-button {
  width: 100%;
}

.footer {
  padding: 20px 0;
  font: 15px/1.1 "Gilroy", "Arial", sans-serif;
  color: #fff;
  background: #000;
}

@media (max-width: 767px) {
  .footer {
    padding: 15px 0;
    font-size: 8px;
    text-align: center;
  }
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1310px) {
  .footer__wrapper {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .footer__wrapper {
    padding: 0 22px;
  }
}

.footer__made {
  margin-right: 185px;
  font-weight: 300;
}

@media (max-width: 1310px) {
  .footer__made {
    margin: 0 0 20px;
  }
}

@media (max-width: 767px) {
  .footer__made {
    margin-bottom: 5px;
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links-item:not(:last-child) {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid #fff;
}

@media (max-width: 767px) {
  .footer__links-item:not(:last-child) {
    margin-right: 3px;
    padding-right: 3px;
  }
}

.footer__to-top {
  position: relative;
  margin-left: auto;
  padding-top: 44px;
  font: 12px/1.1 "Gilroy", "Arial", sans-serif;
  color: #926744;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 1310px) {
  .footer__to-top {
    position: absolute;
    right: 15px;
    bottom: 0;
  }
}

@media (max-width: 767px) {
  .footer__to-top {
    right: 0;
    bottom: -10px;
    padding-top: 14px;
    font-size: 7px;
  }
}

.footer__to-top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 43px;
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='41' viewBox='0 0 44 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9711 9.53828L21.5008 1.99991M21.5008 1.99991L29.8348 9.365M21.5008 1.99991L21.5008 40.002' stroke='%23926744' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 767px) {
  .footer__to-top::before {
    height: 12px;
  }
}

.footer__to-top:hover {
  -webkit-filter: unset;
          filter: unset;
}

.gallery-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  overflow: hidden;
}

.gallery-popup__slider {
  width: 96%;
  max-width: 1290px;
  max-height: calc(100vh - 150px - 100px);
  pointer-events: all;
}

.gallery-popup__slider .swiper {
  height: 100%;
  border-radius: 10px;
}

.gallery-popup__slider .swiper-button-next, .gallery-popup__slider .swiper-button-prev {
  color: #323131;
}

@media (max-width: 767px) {
  .gallery-popup__slider .swiper-button-next, .gallery-popup__slider .swiper-button-prev {
    width: 15px;
    height: 30px;
    margin-top: -15px;
  }
}

@media (max-width: 767px) {
  .gallery-popup__slider .swiper-button-next::after, .gallery-popup__slider .swiper-button-prev::after {
    font-size: 30px;
  }
}

.gallery-popup__slider img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-popup__thumb {
  width: 100%;
  margin-top: 30px;
  pointer-events: all;
}

@media (max-width: 767px) {
  .gallery-popup__thumb {
    margin-top: 20px;
  }
}

.gallery-popup__thumb .swiper-slide {
  width: 270px;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  cursor: pointer;
}

@media (max-width: 1310px) {
  .gallery-popup__thumb .swiper-slide {
    width: 140px;
  }
}

@media (max-width: 767px) {
  .gallery-popup__thumb .swiper-slide {
    width: 98px;
  }
}

.gallery-popup__thumb .swiper-slide.swiper-slide-thumb-active {
  -webkit-filter: blur(0);
          filter: blur(0);
}

.gallery-popup__thumb .swiper-slide img {
  aspect-ratio: 1 / 0.55;
  border-radius: 10px;
}

.gallery-slider {
  position: relative;
}

.gallery-slider__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

@media (max-width: 767px) {
  .gallery-slider__head {
    margin-bottom: 20px;
  }
}

.gallery-slider__item {
  width: 630px;
  aspect-ratio: 1 / 0.71;
}

@media (max-width: 1310px) {
  .gallery-slider__item {
    width: 400px;
  }
}

@media (max-width: 767px) {
  .gallery-slider__item {
    width: 290px;
    aspect-ratio: 1 / 0.55;
  }
}

.gallery-slider__item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 25px 0;
  color: #fff;
  background: #28282a;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .header {
    padding: 14px 0;
  }
}

.header__wrapper {
  z-index: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font: 500 18px/1.1 "Gilroy", "Arial", sans-serif;
}

@media (max-width: 1310px) {
  .header__wrapper {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .header__wrapper {
    font-size: 12px;
  }
}

.header__wrapper .header__email {
  margin-left: auto;
}

@media (max-width: 1310px) {
  .header__wrapper .header__email {
    display: none;
  }
}

.header__wrapper .header__phones {
  margin-left: 20px;
}

@media (max-width: 1310px) {
  .header__wrapper .header__phones {
    margin-left: auto;
  }
}

.header__wrapper .header__ui-button {
  margin-left: 45px;
}

@media (max-width: 1310px) {
  .header__wrapper .header__ui-button {
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .header__wrapper .header__ui-button {
    display: none;
  }
}

.header__logo {
  position: relative;
  display: block;
  width: 205px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1310px) {
  .header__logo {
    width: 160px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    width: 84px;
  }
}

.header__ui-button {
  font-weight: 500;
  font-size: 14px;
  padding: 11px 30px;
  border-width: 1px;
}

@media (max-width: 767px) {
  .header__ui-button {
    font-size: 12px;
    padding: 8px 14px;
  }
}

.header__burger-btn {
  position: relative;
  z-index: 110;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-left: 50px;
  cursor: pointer;
}

@media (max-width: 1310px) {
  .header__burger-btn {
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .header__burger-btn {
    width: 22px;
    height: 22px;
    margin-left: 10px;
  }
}

.header__burger-btn span {
  position: absolute;
  top: 24px;
  left: 0;
  width: 50px;
  height: 3px;
  background: #fff;
}

@media (max-width: 767px) {
  .header__burger-btn span {
    top: 10px;
    width: 22px;
    height: 1px;
  }
}

.header__burger-btn span::before, .header__burger-btn span::after {
  content: '';
  position: absolute;
  top: -14px;
  width: 50px;
  height: 3px;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .header__burger-btn span::before, .header__burger-btn span::after {
    top: -5px;
    width: 22px;
    height: 1px;
  }
}

.header__burger-btn span::after {
  top: 14px;
}

@media (max-width: 767px) {
  .header__burger-btn span::after {
    top: 5px;
  }
}

.header__burger-btn.active span {
  background: transparent;
}

.header__burger-btn.active span::before {
  -webkit-transform: rotate(-45deg) translate(-10px, 10px);
          transform: rotate(-45deg) translate(-10px, 10px);
}

@media (max-width: 767px) {
  .header__burger-btn.active span::before {
    -webkit-transform: rotate(-45deg) translate(-4px, 3px);
            transform: rotate(-45deg) translate(-4px, 3px);
  }
}

.header__burger-btn.active span::after {
  -webkit-transform: rotate(45deg) translate(-10px, -10px);
          transform: rotate(45deg) translate(-10px, -10px);
}

@media (max-width: 767px) {
  .header__burger-btn.active span::after {
    -webkit-transform: rotate(45deg) translate(-4px, -3px);
            transform: rotate(45deg) translate(-4px, -3px);
  }
}

.header__phones {
  position: relative;
  z-index: 10;
}

.header__phones-main {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .header__phones-main {
    padding-right: 12px;
  }
}

.header__phones-open {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='5' viewBox='0 0 12 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0L6 5L0 0H12Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  cursor: pointer;
}

@media (max-width: 767px) {
  .header__phones-open {
    width: 8px;
  }
}

.header__phones-open--active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__phones-drop {
  position: absolute;
  top: 102%;
  left: 0;
  display: none;
  width: 100%;
  padding: 2px 0;
  border: 1px solid #545454;
  border-width: 1px 0 0;
}

.header__phones-drop--top {
  top: auto;
  bottom: 102%;
  border-width: 0 0 1px;
}

.header__phones-drop--visible {
  display: block;
}

.header-burger {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 105;
  visibility: hidden;
  width: 70%;
  max-width: 790px;
  font: 500 18px/1.1 "Gilroy", "Arial", sans-serif;
  background: #494949;
  opacity: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 1310px) {
  .header-burger {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .header-burger {
    font-size: 12px;
  }
}

.header-burger__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  height: 100%;
  padding: 65px 140px;
  overflow-y: auto;
}

@media (max-width: 1310px) {
  .header-burger__inner {
    padding: 45px 60px;
  }
}

@media (max-width: 767px) {
  .header-burger__inner {
    padding: 15px 30px;
  }
}

.header-burger__menu {
  margin: auto 0;
  font: 500 25px/1.2 "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  list-style-type: none;
}

@media (max-width: 1310px) {
  .header-burger__menu {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .header-burger__menu {
    margin: auto 0;
    padding-left: 30px;
    font-size: 12px;
  }
}

.header-burger__menu-item:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .header-burger__menu-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.header-burger__menu-item a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.header-burger__menu-item a::before, .header-burger__menu-item a::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 12px;
  border: 3px solid #926744;
  opacity: 0;
  -webkit-transition: inherit;
  transition: inherit;
}

@media (max-width: 767px) {
  .header-burger__menu-item a::before, .header-burger__menu-item a::after {
    top: -1px;
    width: 7px;
    border-width: 1px;
  }
}

.header-burger__menu-item a::before {
  left: 0;
  border-right: 0;
}

.header-burger__menu-item a::after {
  right: 0;
  border-left: 0;
}

.header-burger__menu-item a:hover, .header-burger__menu-item a.active {
  padding: 0 13px;
  color: #926744;
}

@media (max-width: 767px) {
  .header-burger__menu-item a:hover, .header-burger__menu-item a.active {
    padding: 0 8px;
  }
}

.header-burger__menu-item a:hover::before, .header-burger__menu-item a:hover::after, .header-burger__menu-item a.active::before, .header-burger__menu-item a.active::after {
  opacity: 1;
}

.header-burger__links {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: auto;
  text-align: center;
}

.header-burger--open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header-burger .ui-button {
  margin: 0 auto;
}

.header-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 95;
  display: none;
  width: 100%;
  height: 100%;
}

.header--open .header__wrapper .header__email {
  opacity: 0;
}

.header--open .header__wrapper .header__phone {
  opacity: 0;
}

.header--open .header__wrapper .header__ui-button {
  opacity: 0;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: #28282a;
}

.loader__icon {
  width: 190px;
}

@media (max-width: 767px) {
  .loader__icon {
    width: 140px;
  }
}

.loader__anim {
  -webkit-animation: loader-spin-left 6s linear infinite;
          animation: loader-spin-left 6s linear infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.loader__anim--l {
  -webkit-animation-name: loader-spin-right;
          animation-name: loader-spin-right;
}

.loader__anim--s {
  -webkit-animation-duration: 5px;
          animation-duration: 5px;
}

.loader__anim--m {
  -webkit-animation-duration: 7px;
          animation-duration: 7px;
}

.loader svg {
  max-width: 100%;
}

.loader svg path {
  transform-box: fill-box;
}

@-webkit-keyframes loader-spin-right {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader-spin-right {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes loader-spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.popup__wrapper {
  position: relative;
  padding: 0;
  color: #fff;
  background: #28282a;
}

.popup *:focus {
  outline: none !important;
}

.popup .fancybox__slide {
  padding: 0;
}

.popup .fancybox__backdrop {
  background: rgba(0, 0, 0, 0.84);
  opacity: 1;
}

.popup .carousel__button.is-close {
  position: absolute;
  top: 12px;
  right: 8px;
  width: 33px;
  height: 33px;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='8.73633' y='7.44141' width='22.8786' height='1.83029' transform='rotate(45 8.73633 7.44141)' fill='%23C8C8C8'/%3E%3Crect x='7.44141' y='23.6191' width='22.8786' height='1.83029' transform='rotate(-45 7.44141 23.6191)' fill='%23C8C8C8'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.popup .carousel__button.is-close svg {
  display: none;
}

@media (max-width: 767px) {
  .popup--app.is-animated {
    -webkit-animation: .4s ease from-right;
            animation: .4s ease from-right;
  }
}

@media (max-width: 767px) {
  .popup--app.is-closing {
    -webkit-animation: .4s ease to-right;
            animation: .4s ease to-right;
  }
}

.popup--app .popup__wrapper {
  width: 95%;
  max-width: 840px;
}

@media (max-width: 1310px) {
  .popup--app .popup__wrapper {
    max-width: 650px;
  }
}

@media (max-width: 767px) {
  .popup--app .popup__wrapper {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
  }
}

.popup--app .carousel__button.is-close {
  display: none;
}

@media (max-width: 767px) {
  .popup--app .carousel__button.is-close {
    display: block;
  }
}

@media (max-width: 767px) {
  .popup--app .fancybox__backdrop {
    display: none;
  }
}

.popup--gallery .popup__wrapper {
  width: 100%;
  height: 100vh;
  padding: 0;
  background: transparent;
}

.popup--gallery .fancybox__backdrop {
  background: rgba(50, 48, 48, 0.96);
  opacity: 1;
}

.popup--gallery .fancybox__carousel {
  pointer-events: none;
}

.popup-app {
  padding: 35px 105px 55px;
  background: #28282a;
}

@media (max-width: 1310px) {
  .popup-app {
    padding: 35px 65px;
  }
}

@media (max-width: 767px) {
  .popup-app {
    padding: 15px 25px;
  }
}

.popup-app__img {
  display: none;
}

@media (max-width: 767px) {
  .popup-app__img {
    display: block;
  }
}

.popup-app__title {
  margin-bottom: 45px;
  font: 700 25px/1.1 "EuropeExt", "Arial", sans-serif;
  text-align: center;
}

@media (max-width: 1310px) {
  .popup-app__title {
    margin-bottom: 35px;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .popup-app__title {
    margin-bottom: 25px;
    font-size: 17px;
  }
}

.popup-app__form-line:not(:first-child) {
  margin-top: 40px;
}

@media (max-width: 1310px) {
  .popup-app__form-line:not(:first-child) {
    margin-top: 25px;
  }
}

.popup-app__form-agree {
  margin-top: 5px;
  font: 500 14px/1.1 "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: #787878;
}

@media (max-width: 767px) {
  .popup-app__form-agree {
    font-size: 9px;
  }
}

.popup-app__ui-button {
  width: 100%;
}

.production {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  color: #fff;
}

@media (max-width: 767px) {
  .production {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 15px;
  }
}

.production__item {
  position: relative;
  display: block;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  overflow: hidden;
}

.production__item:hover .production__img::before {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.77)), to(rgba(0, 0, 0, 0.77)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77));
}

.production__item:hover .production__ui-button {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.production__content {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5px;
  padding: 30px;
  aspect-ratio: 1 / 0.975;
}

@media (max-width: 1310px) {
  .production__content {
    padding: 20px;
  }
}

.production__count {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 5px;
  font: 700 30px/1.1 "EuropeExt", "Arial", sans-serif;
  border-bottom: 2px solid #926744;
}

@media (max-width: 1310px) {
  .production__count {
    font-size: 17px;
  }
}

.production__title {
  font: 700 25px/1.1 "EuropeExt", "Arial", sans-serif;
}

@media (max-width: 1310px) {
  .production__title {
    font-size: 17px;
  }
}

.production__ui-button {
  width: 100%;
  margin-top: auto;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  -webkit-transition: opacity 0.5s, color 0.3s, -webkit-transform 0.5s linear;
  transition: opacity 0.5s, color 0.3s, -webkit-transform 0.5s linear;
  transition: opacity 0.5s, transform 0.5s linear, color 0.3s;
  transition: opacity 0.5s, transform 0.5s linear, color 0.3s, -webkit-transform 0.5s linear;
  pointer-events: none;
}

@media (max-width: 767px) {
  .production__ui-button {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    line-height: 14px;
    opacity: 1;
    pointer-events: all;
  }
}

.production__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.production__img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(160.93deg, rgba(0, 0, 0, 0.73) 26.59%, rgba(0, 0, 0, 0) 86.61%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.production__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section {
  margin-top: 120px;
}

@media (max-width: 1310px) {
  .section {
    margin-top: 90px;
  }
}

@media (max-width: 767px) {
  .section {
    margin-top: 60px;
  }
}

.section--ov-hidden {
  overflow: hidden;
}

@media (max-width: 1310px) {
  .section--laptop-hidden {
    overflow: hidden;
  }
}

.stages {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'text slider' 'btn slider';
  -ms-grid-columns: 1fr 765px;
      grid-template-columns: 1fr 765px;
  gap: 25px 40px;
}

@media (max-width: 1310px) {
  .stages {
    display: block;
    gap: 0;
  }
}

.stages__text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: text;
}

@media (max-width: 1310px) {
  .stages__text {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .stages__text {
    margin-bottom: 15px;
  }
}

.stages__ui-h2 {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .stages__ui-h2 {
    margin-bottom: 10px;
  }
}

.stages__ui-button {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: btn;
  width: 100%;
  padding: 8px 20px;
}

@media (max-width: 1310px) {
  .stages__ui-button {
    padding: 12px 20px;
  }
}

@media (max-width: 767px) {
  .stages__ui-button {
    padding: 9px 15px;
  }
}

.stages__ui-swiper-scrollbar {
  display: none;
}

@media (max-width: 1310px) {
  .stages__ui-swiper-scrollbar {
    display: block;
    margin-top: 12px;
  }
}

.stages__slider {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: slider;
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 1310px) {
  .stages__slider {
    margin-bottom: 30px;
    overflow: visible;
  }
}

@media (max-width: 767px) {
  .stages__slider {
    margin-bottom: 20px;
  }
}

.stages__descr {
  font: 20px/1.1 "Gilroy", "Arial", sans-serif;
  color: #e8e8e8;
}

@media (max-width: 1310px) {
  .stages__descr {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .stages__descr {
    font-size: 12px;
  }
}

.stages__item {
  height: auto;
  color: #28282a;
  background: #fff;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .stages__item {
    width: 134px;
  }
}

.stages__item-img {
  aspect-ratio: 1 / 0.625;
}

.stages__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.stages__item-text {
  padding: 10px 5px 20px 20px;
}

@media (max-width: 767px) {
  .stages__item-text {
    padding: 15px 8px 8px;
  }
}

.stages__item-subtitle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10px;
  font: 700 13px/1.1 "EuropeExt", "Arial", sans-serif;
  text-transform: uppercase;
  border-bottom: 2px solid #926744;
}

@media (max-width: 767px) {
  .stages__item-subtitle {
    margin-bottom: 5px;
    font-size: 10px;
  }
}

.stages__item-title {
  font: 20px/1.1 "EuropeExt", "Arial", sans-serif;
}

@media (max-width: 767px) {
  .stages__item-title {
    font-size: 13px;
  }
}
