@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale-in {
  from {
    transform: scale(0, 0);
    opacity: 0.8;
  }
  to {
    transform: scale(2.8, 2.8);
    opacity: 0.1;
  }
}
@keyframes slide-in-up {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
