// fonts
$font: 'Gilroy', 'Arial', sans-serif;
$fontEE: 'EuropeExt', 'Arial', sans-serif;
$fontGmtr: 'Geometria', 'Arial', sans-serif;

// colors
$black100: #000;
$black: #28282a;
$brown: #926744;
$grey: #494949;
$grey10: #ddd;
$grey20: #e8e8e8;
$grey30: #c8c8c8;
$grey40: #878787;
$grey50: #787878;
$red: #e70909;

// media
$mediaWidthLaptop: 1310px;
$mediaWidthTablet: 767px;
