.advantage {
  position: relative;
  padding: 100px 0 80px;
  background: url('../img/advantage_bg.jpg') no-repeat center;
  background-size: cover;
  @include media-laptop {
    padding: 70px 0 60px;
  }
  @include media-tablet {
    padding: 40px 0;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
  }
  &__container {
    position: relative;
    z-index: 1;
  }
  &__head {
    margin-bottom: 40px;
    text-align: center;
    @include media-laptop {
      margin-bottom: 25px;
    }
    @include media-tablet {
      margin-bottom: 15px;
    }
  }
  &__ui-h2 {
    margin-bottom: 30px;
    @include media-laptop {
      margin-bottom: 25px;
    }
    @include media-tablet {
      margin-bottom: 15px;
    }
  }
  &__descr {
    max-width: 905px;
    margin: 0 auto;
    font: 500 22px/1.2 $font;
    color: $grey20;
    @include media-laptop {
      font-size: 18px;
    }
    @include media-tablet {
      font-size: 12px;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 55px;
    margin-bottom: 40px;
    @include media-laptop {
      gap: 30px;
    }
    @include media-tablet {
      gap: 14px;
      margin-bottom: 15px;
    }
  }
  &__item {
    position: relative;
    padding: 5px 15px;
    text-align: center;
    color: $brown;
    @include media-tablet {
      padding: 5px;
      text-align: left;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 12px;
      border: 4px solid $brown;
      @include media-tablet {
        border-width: 2px;
      }
    }
    &::before {
      left: 0;
      border-right: 0;
    }
    &::after {
      right: 0;
      border-left: 0;
    }
    &-count {
      margin-bottom: 10px;
      font: 20px/1.1 $fontEE;
      @include media-laptop {
        font-size: 16px;
      }
      @include media-tablet {
        margin-bottom: 2px;
        font-size: 13px;
      }
    }
    &-title {
      font: 700 30px/1.1 $fontEE;
      text-transform: uppercase;
      @include media-laptop {
        font-size: 22px;
      }
      @include media-tablet {
        font-size: 12px;
      }
    }
  }
  &-form {
    text-align: center;
    &__title {
      margin-bottom: 20px;
      font: 20px/1.1 $fontEE;
      color: $grey20;
      @include media-laptop {
        font-size: 16px;
      }
      @include media-tablet {
        margin-bottom: 15px;
        font-size: 12px;
      }
    }
    &__main {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 12px;
      max-width: 455px;
      margin: 0 auto 10px;
      @include media-tablet {
        gap: 6px;
        margin-bottom: 5px;
      }
    }
    &__agree {
      font: 500 12px/1.1 $font;
      color: $grey50;
      @include media-tablet {
        font-size: 9px;
      }
    }
    &__ui-button {
      padding: 10px 32px;
      font-size: 14px;
      @include media-tablet {
        padding: 7px 20px;
        font-size: 9px;
      }
    }
  }
}
